server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/studs
    username: s368530
    password: ksadmkasdmkasdmkakm
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
